@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--lightest-color);
}
a {
  text-decoration: none;
}

.body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: Roboto;
  font-size: 2rem;
  position: relative; /*to make the abs pos footer stick to the bodys bottom not the viewports bottom*/
  max-width: 1440px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.headlines {
  color: #705c49;
  text-align: center;
  margin-bottom: 5%;
}
.list {
  list-style: none;
}
