@import "./base.css";
@import "./Components/social_card.css";
@import "./Components/header.css";
@import "./Components/aside.css";
@import "./Components/bio.css";

.links_main_section {
  padding: 20px;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 0px 20px 20px;
  color: #705c49;
  margin-bottom: 10%;
}

.social_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 10px;
  padding: 20px;
  margin-bottom: 10%;
}

}

.footer {
  position: relative;
  z-index: 2;
  padding: 30px;
}

.impressum {
  color: #495d70;
}
.wave {
  background-image: linear-gradient(#9b7e64, white);
  position: absolute;
  bottom: 0;
  z-index: 1;
}
