* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html {
  font-size: 62.5%;
}

.body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: Roboto;
  font-size: 2rem;
  position: relative; /*to make the abs pos footer stick to the bodys bottom not the viewports bottom*/
  max-width: 1440px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 7rem;
  padding: 5%;
  color: #705c49;
}
.links_pics {
  padding: 20px;
  background-color: ;
  border: 2px solid;
}

.nav_bio {
  text-decoration: none;
  color: #705c49;
  font-size: 3.2rem;
}

.nav_bio:hover {
  font-size: 3.3rem;
}

.nav_contact {
  text-decoration: none;
  color: #705c49;
  font-size: 3.2rem;
}
.nav_contact:hover {
  font-size: 3.3rem;
}

@media (max-width: 550px) {
  .nav_bio {
    font-size: 2.5rem;
  }
  .nav_contact {
    font-size: 2.5rem;
  }
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(#9b7e64, white);
  color: white;
  min-height: 40vmin;
  margin-bottom: 5%;
  border-radius: 20px 20px 0 0;
}

.nav-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-evenly;
  max-width: 400px;
  background-color: ;
  column-gap: 100px;
  row-gap: 20px;
  padding: 30px;
  min-height: 30vh;
}

.contact-bio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
}
@media (max-width: 550px) {
  .contact-bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
  }
}

.interests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  min-height: 100px;
}

.--interests {
  padding: 12px;
  border-radius: 10%;
  background-color: ;
  box-shadow: 2px 2px 5px #7a6f55;
}

.portraitpic {
  border-radius: 100px;
  height: 30vmin;
  width: 30vmin;
}

.links_main_section {
  padding: 20px;
}

#Contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 0px 20px 20px;
  color: #705c49;
  margin-bottom: 10%;
}

.aside {
  font-size: 1.5rem;
  text-align: center;
  height: 10vmin;
  width: 10vmin;
  /* background-color: green;*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: sticky;
  top: 0;
  left: 85%;
}

.mailvector {
  height: 10vmin;
  width: 10vmin;
}
.mailbutton {
  all: unset;
  cursor: pointer;
  fill: #705c49;
}

.mailvector:hover {
  fill: #495d70;
  height: 15vmin;
  width: 15vmin;
}

.social_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 10px;
  padding: 20px;
  margin-bottom: 10%;
}

.card-desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  position: static;
  min-width: 320px;
  left: 0px;
  top: 0px;
  background: white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  font-family: Roboto;
}

.titlecard {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 5px;
}
.subtitlecard {
  font-weight: 400;
  font-size: 14px;
}

.accountcard {
  font-weight: 300;
  font-size: 12px;
}
.imagecard {
  border-radius: 8px;
  height: 15vmin;
  width: 15vmin;
  margin-bottom: 5px;
}

.arrow {
  color: #495d70;
}
@media (max-width: 550px) {
  .card-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 16px;
    position: static;
    min-width: 200px;
    max-width: 300px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    font-family: Roboto;
  }
}

.headlines {
  color: #705c49;
  text-align: center;
  margin-bottom: 5%;
}

.bio {
  padding: 5px;
  margin-bottom: 20%;
  margin-right: 10%;
  margin-left: 10%;
}

.bio_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.bio_text {
  width: 50%;
  padding-right: 4rem;
}
.bio_cv {
  width: 50%;
}

@media (max-width: 550px) {
  .bio_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    padding: 2px;
  }
  .bio_text {
    padding: 2px;
    width: 100%;
  }
  .bio_cv {
    padding: 2px;
    width: 100%;
  }
}

.list {
  list-style: none;
}

.footer {
  position: relative;
  z-index: 2;
  padding: 30px;
}

.impressum {
  text-decoration: none;
  color: #495d70;
}
.wave {
  background-image: linear-gradient(#9b7e64, white);
  position: absolute;
  bottom: 0;
  z-index: 1;
}
