@import "./base.css";
@import "./Components/social_card.css";
@import "./Components/header.css";
@import "./Components/aside.css";
@import "./Components/bio.css";
@import "./Components/colors.css";

.links_main_section {
  padding: 20px;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 0px 20px 20px;
  color: var(--medium-dark-color);
  margin-bottom: 10%;
}

.social_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 10px;
  padding: 20px;
  margin-bottom: 10%;
}
@media (min-width: 900px) and (max-width: 1300px) {
  .social_links {
    display: flex;
    flex-direction: column;‚
  }
}

.footer {
  position: relative;
  z-index: 2;
  padding: 30px;
}

.impressum {
  color: #495d70;
}
.wave {
  background-image: linear-gradient(var(--medium-light-color), white);
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.portraitpic {
  border-radius: 61% 39% 58% 42% / 30% 75% 25% 70%;
}
.portraitpic__wrapper {
  display: block;
  padding: 0.7%;
  background: linear-gradient(
    127deg,
    var(--darkest-color),
    var(--medium-color) 60%
  );
  border-radius: 30% 90% 83% 17% / 25% 22% 54% 70%;
}
