.name {
  font-size: 7rem;
  padding: 5%;
  color: var(--medium-dark-color);
}
.links_pics {
  padding: 20px;
  background-color: ;
  border: 2px solid;
}

.nav_bio {
  color: var(--medium-dark-color);
  font-size: 3.2rem;
}

.nav_bio:hover {
  font-size: 3.3rem;
}

.nav_contact {
  color: var(--medium-dark-color);
  font-size: 3.2rem;
}
.nav_contact:hover {
  font-size: 3.3rem;
}

@media (max-width: 550px) {
  .nav_bio {
    font-size: 2.5rem;
  }
  .nav_contact {
    font-size: 2.5rem;
  }
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    var(--medium-light-color),
    var(--lightest-color)
  );
  color: var(--lightest-color);
  min-height: 40vmin;
  margin-bottom: 5%;
  border-radius: 20px 20px 0 0;
}

.nav-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-evenly;
  max-width: 400px;
  background-color: ;
  column-gap: 100px;
  row-gap: 20px;
  padding: 30px;
  min-height: 30vh;
}

.contact-bio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
}
@media (max-width: 550px) {
  .contact-bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
  }
}

.interests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  min-height: 100px;
}

.--interests {
  padding: 12px;
  border-radius: 10%;
  background-color: ;
  box-shadow: 2px 2px 5px #7a6f55;
}

.portraitpic {
  border-radius: 100px;
  height: 30vmin;
  width: 30vmin;
}
